<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projekt #2</title>
  <link rel="stylesheet" type="text/css" href="/style.css?<%= Time.now.to_i %>">
</head>
<body>

<a href="/cookies/new">Skapa ny kaka</a>

<h2>Kakor</h2>
<div class="cookie-main">
  <% @cookies.each do |cookie| %>
    <div class="cookie-item">
      <a href="/cookies/<%= cookie["id"] %>">
        <img class="cookie-image" src="/img/<%= cookie["image"] %>.png" alt="<%= cookie["flavor"] %>">
      </a>

      <h3>
        <a href="/cookies/<%= cookie["id"] %>"><%= cookie["flavor"] %></a>
      </h3>

      <span class="price"><%= cookie["price"] %>kr</span>
      <p><%= cookie["beskrivning"] %></p>
    </div>
  <% end %>
</div>

</body>
</html>
